* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: hsl(217, 28%, 15%);
  color: hsl(0, 0%, 100%);
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
}

header {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 10px;
}

header picture {
  padding: 10px;
}

header picture img {
  width: 40%;
}

header nav {
  color: hsl(0, 1%, 70%);
  position: absolute;
  right: 50px;
  display: flex;
  padding: 8px;
}

header nav div {
  margin: 0 10px;
}

header a:hover {
  color: hsl(197, 68%, 64%);
}

header a {
  text-decoration: none;
  color: hsl(0, 7%, 80%);
}

.monta単a {
  display: flex;
  justify-content: center;
  position: relative;
}

.monta単a img {
  position: absolute;
  top: 210px;
  width: 100%;
}

.imgOne {
  display: flex;
  justify-content: center;
  position: relative;
}

.imgOne img {
  position: absolute;
  top: 40px;
  width: 80%;
}

main {
  min-height: 1000px;
  display: flex;
  flex-direction: column;
  position: relative;
  background: hsl(218, 28%, 13%);
  top: 340px;
  padding-top: 300px;
}

.one {
  position: absolute;
  text-align: center;
  top: -20px;
  padding: 20px;
}

.one h1 {
  font-family: 'Raleway', sans-serif;
  font-size: 24px;
  line-height: 38px;
}

.one p {
  color: hsl(0, 0%, 82%);
  padding: 10px;
  margin-top: 5px;
  font-weight: 500;
  line-height: 22px;
}

.one button {
  width: 240px;
  height: 47px;
  font-size: 14px;
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  background: hsl(198, 71%, 55%);
  color: hsl(0, 0%, 100%);
  border: none;
  font-weight: 540;
  margin-top: 18px;
}

.one button:hover {
  cursor: pointer;
}

.two,
.three,
.four,
.five {
  width: 100%;
  height: 280px;
  text-align: center;
  color: hsl(0, 0%, 82%);
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sectionTwo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.two h3,
.three h3,
.four h3,
.five h3 {
  font-family: 'Raleway', sans-serif;
  margin: 10px;
  color: hsl(0, 0%, 100%);
}

.two img,
.three img,
.four img,
.five img {
  width: 75%;
  margin-bottom: 20px;
}

.six {
  display: flex;
  flex-direction: column;
  margin-top: 70px;
  padding: 20px;
  text-align: start;
}

.six p {
  margin: 5px;
  color: hsl(0, 0%, 82%);
  font-size: 13.2px;
  padding: 1px;
  line-height: 1.6;
}

.six a {
  color: hsl(176, 68%, 64%);
}

.six h3 {
  font-family: 'Raleway', sans-serif;
  font-size: 17.7px;
  margin: 5px;
  margin-top: 40px;
  margin-bottom: 10px;
  font-weight: 600;
}

.imgtwo {
  padding: 10px;
  align-items: center;
}

.imgtwo img {
  width: 100%;
}

.six a {
  text-decoration-line: none;
}

.six a img {
  position: absolute;
  right: 200px;
}

.linea {
  width: 160px;
  height: 30px;
  margin-left: 5px;
  font-size: 12.5px;
  display: flex;
  align-items: center;
}
.linea img {
  width: 30px;
  height: 30px;
  margin-left: 10px;
}

.comentarios {
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.comentarios article,
.comentarios p {
  color: hsl(0, 0%, 82%);
}

.comentarios picture {
  height: 100px;
}

.comillas {
  position: absolute;
  width: 20px;
  left: 59px;
  padding-top: 97px;
}

.satish,
.bruce,
.iva {
  width: 81%;
  height: 230px;
  background: hsl(219, 30%, 18%);
  margin: 5px;
  margin-top: 15px;
  padding: 20px;
  font-size: 16px;
  letter-spacing: 0.22px;
  border-radius: 4px;
}

.perfilOne,
.perfilTwo,
.perfilThree {
  display: flex;
  margin-top: 10px;
}

.perfilOne div,
.perfilTwo div,
.perfilThree div {
  position: absolute;
  margin-left: 32px;
  margin-top: 10px;
}

.perfilOne img,
.perfilTwo img,
.perfilThree img {
  width: 50px;
  border-radius: 50%;
  margin-top: 10px;
  margin-right: 100px;
  position: absolute;
}

.perfilOne h3,
.perfilOne p,
.perfilTwo h3,
.perfilTwo p,
.perfilThree h3,
.perfilThree p {
  font-size: 16px;
  margin-left: 30px;
}

.perfilOne picture,
.perfilTwo picture,
.perfilThree picture {
  width: 50px;
}

.seven {
  z-index: 2;
  width: 300px;
  margin: 30px;
  margin-top: 130px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background: hsl(218, 32%, 17%);
  box-shadow: -1px -14px 38px rgb(0 0 0 / 30%), 0 15px 12px rgb(0 0 0 / 22%);
  border-radius: 2%;
}

.encapsularMain {
  display: flex;
  justify-content: center;
}

.seven h3 {
  margin-top: 30px;
}

.seven article {
  margin: 15px;
  font-size: 12px;
  color: hsl(0, 0%, 82%);
  padding: 10px;
}

.seven button {
  width: 240px;
  height: 43px;
  font-size: 12px;
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  background: hsl(198, 71%, 55%);
  color: hsl(0, 0%, 100%);
  border: none;
  font-weight: 540;
  margin-top: 18px;
  margin-bottom: 10px;
}

.seven button:hover {
  cursor: pointer;
}

.seven input {
  width: 240px;
  height: 43px;
  font-size: 14px;
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  padding-left: 15px;
  font-size: 10px;
  border: none;
  font-weight: 540;
  margin-top: 10px;
}

footer {
  position: relative;
  z-index: 1;
  bottom: -147px;
  color: white;
  background: hsl(216, 53%, 9%);
  height: 1000px;
  padding: 35px;
}

.logofooter {
  margin-top: 200px;
  margin-left: 10px;
  width: 60%;
}

.ubicacion {
  display: flex;
  margin-top: 30px;
  font-size: 13.8px;
}

.numero {
  margin-top: 15px;
  display: flex;
}

.correo {
  display: flex;
  margin-top: 15px;
}

.ubicacion picture,
.correo picture {
  margin-right: 15px;
}

.ubicacion picture img,
.correo picture img {
  width: 95%;
  margin-top: 5px;
}

.ubicacion p,
.numero p,
.correo p {
  width: 250px;
  color: hsl(0, 0%, 82%);
}

.numero picture img {
  width: 70%;
  margin-top: 5px;
}

.numero picture {
  margin-right: 10px;
}

.numeroUno {
  color: hsl(0, 0%, 82%);
  margin-top: 80px;
}

.numeroDos {
  margin-top: 25px;
}

.numeroUno li {
  list-style: none;
  margin-top: 10px;
}

.numeroDos li {
  list-style: none;
  margin-top: 10px;
}

.numeroUno a,
.numeroDos a {
  text-decoration: none;
  color: hsl(0, 1%, 70%);
}

.redes {
  display: flex;
  justify-content: center;
  margin-top: 70px;
}

.redes div {
  margin: 20px;
}
.faceboock {
  border-radius: 50%;
  width: 30px;
}

.faceboock img:hover {
  filter: brightness(0) saturate(100%) invert(62%) sepia(51%) saturate(629%)
    hue-rotate(166deg) brightness(104%) contrast(101%);
}

.twiter {
  border-radius: 50%;
  width: 30px;
}

.twiter img:hover {
  filter: brightness(0) saturate(100%) invert(62%) sepia(51%) saturate(629%)
    hue-rotate(166deg) brightness(104%) contrast(101%);
}

.instagram {
  border-radius: 50%;
  width: 30px;
}

.instagram img:hover {
  filter: brightness(0) saturate(100%) invert(62%) sepia(51%) saturate(629%)
    hue-rotate(166deg) brightness(104%) contrast(101%);
}

@media (min-width: 550px) {
  header picture img {
    width: 200px;
  }

  .one {
    width: 500px;
  }
  .inicio {
    display: flex;
    justify-content: center;
  }

  .sectionTwo {
    display: flex;
    justify-content: center;
  }

  .sectionTwo section {
    width: 80%;
  }

  .capsulaTexto {
    width: 80%;
    margin: auto;
  }

  .imgOne img {
    width: 60%;
  }

  .imgtwo {
    display: flex;
    justify-content: center;
  }

  .imgtwo img {
    width: 60%;
  }

  main {
    top: 420px;
  }
  .comentarios img {
    width: 50px;
  }
  .comillas {
    z-index: 1;
  }
  .satish,
  .bruce,
  .iva {
    height: 190px;
    z-index: 10;
  }
  .satish article,
  .bruce article,
  .iva article {
    font-size: 16px;
  }
  .perfilOne p,
  .perfilTwo p,
  .perfilThree p {
    font-size: 14px;
  }
  .perfilOne h3,
  .perfilTwo h3,
  .perfilThree h3 {
    font-size: 16px;
  }
  .perfilOne,
  .perfilTwo,
  .perfilThree {
    display: flex;
    align-items: center;
  }
  .perfilOne div,
  .perfilTwo div,
  .perfilThree div {
    margin-left: 30px;
    margin-top: -30px;
  }

  .containerResponsive {
    display: flex;
    justify-content: space-around;
  }
  .capsulaFooter {
    margin-top: -60px;
    margin-right: 50px;
    display: flex;
    align-items: baseline;
  }
  .redes div {
    margin: 20px;
  }

  .seven {
    margin-top: 40px;
    margin-bottom: 100px;
  }
}

@media (min-width: 768px) {
  header picture img {
    width: 200px;
  }

  main {
    margin-top: 20.4%;
    align-items: center;
    top: 335px;
  }

  .imgOne img {
    width: 80%;
  }

  .monta単a {
    margin-top: 12%;
  }

  .one {
    margin-top: 80px;
  }
  .two,
  .three,
  .four,
  .five {
    width: 80%;
  }

  .six {
    align-items: center;
  }
  .imgtwo {
    display: flex;
    justify-content: center;
  }

  .imgtwo img {
    width: 70%;
  }

  .capsulaTexto {
    width: 79%;
    display: flex;
    flex-direction: column;
  }

  .six a img {
    right: 510px;
  }

  .perfilOne,
  .perfilTwo,
  .perfilThree {
    display: flex;
    align-items: center;
  }

  .perfilOne p,
  .perfilTwo p,
  .perfilThree p {
    font-size: 14px;
  }
  .perfilOne h3,
  .perfilTwo h3,
  .perfilThree h3 {
    font-size: 16px;
  }

  .comillas {
    z-index: 1;
  }

  .perfilOne div,
  .perfilTwo div,
  .perfilThree div {
    margin-left: 40px;
    margin-top: -20px;
  }

  .comentarios img {
    width: 60px;
  }

  .satish article,
  .bruce article,
  .iva article {
    font-size: 16px;
  }

  .satish,
  .bruce,
  .iva {
    height: 180px;
    z-index: 10;
  }

  .seven {
    width: 80%;
    height: 240px;
  }

  .seven form {
    height: 60px;
    display: flex;
  }

  .seven button {
    width: 150px;
    margin-left: 10px;
    margin-top: 10px;
  }

  footer {
    height: 700px;
  }

  .logofooter {
    width: 40%;
  }

  .containerResponsive {
    display: flex;
    justify-content: space-around;
  }

  .datos {
    display: inline-flex;
    margin-top: 20px;
  }
  .numero {
    margin-top: 30px;
    margin-left: 40px;
  }

  .correo {
    margin-top: 30px;
    margin-left: 40px;
  }

  .capsulaFooter {
    margin-top: -45px;
    margin-right: 50px;
    display: flex;
    align-items: baseline;
  }

  .numeroUno {
    margin-left: 20px;
    margin-right: 20px;
  }

  .redes div {
    width: 8%;
  }
}

@media (min-width: 1024px) {
  header nav {
    margin-right: 40px;
  }

  main {
    margin-top: 34.6%;
    padding-top: 0;
  }

  .monta単a img {
    margin-top: 10%;
  }
  .imgOne img {
    width: 55%;
    margin-top: -130px;
  }

  header picture img {
    width: 60%;
    margin: 20px;
  }

  .one {
    margin-top: -300px;
    width: 550px;
    font-size: 16px;
  }

  .one h1 {
    font-size: 26px;
  }
  .two,
  .three,
  .four,
  .five {
    width: 380px;
    margin: 5%;
  }

  .sectionTwo {
    margin-top: -60px;
    width: 100%;
    display: flex;
    flex-direction: unset;
    flex-wrap: wrap;
    text-align: center;
  }

  .sectionTwo section {
    width: 350px;
  }

  .six {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .six h3 {
    font-size: 30px;
    width: 300px;
  }

  .six a img {
    right: 300px;
  }

  .imgtwo {
    width: 60%;
  }

  .capsulaTexto {
    width: 400px;
    margin-left: -60px;
  }

  .comillas {
    width: 6%;
    padding-top: 4px;
    padding-left: 23px;
    z-index: 1;
  }

  .comentarios {
    display: flex;
    flex-direction: row;
  }

  .satish,
  .bruce,
  .iva {
    width: 270px;
    height: 260px;
    margin-top: 100px;
    z-index: 2;
    font-size: 14px;
  }

  .perfilOne,
  .perfilTwo,
  .perfilThree {
    display: flex;
    align-items: center;
  }

  .perfilOne img,
  .perfilTwo img,
  .perfilThree img {
    width: 50px;
    margin-top: 30px;
  }

  .perfilOne div,
  .perfilTwo div,
  .perfilThree div {
    margin-left: 30px;
    margin-top: 15px;
  }

  .six a img {
    right: 370px;
  }

  .seven {
    width: 560px;
    height: 280px;
    font-size: 30px;
  }

  .seven form {
    height: 60px;
    display: flex;
  }
  .seven button {
    width: 150px;
    margin-left: 10px;
    margin-top: 10px;
  }

  .seven input {
    width: 350px;
  }

  .seven article {
    margin-bottom: 0;
    font-size: 13px;
  }

  .logofooter {
    width: 16%;
  }

  .personalDate {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
  }

  .orderFooter {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    align-content: center;
    margin-top: 0;
    margin-bottom: 50px;
  }

  .datos {
    margin-top: 0px;
  }

  .redes {
    margin-left: 50px;
  }

  .redes div {
    width: 35px;
  }

  .redes img {
    width: 100%;
  }

  .capsulaFooter {
    margin-top: -65px;
  }

  footer {
    height: 600px;
    padding-left: 100px;
  }
}
